<h3 class="ui header">Daily Attendance</h3>
<div class="two column stackable ui grid">
  <div class="column" style="width: 41%">
    <div class="ui raised violet segment">
      <div class="ui tiny form">
        <select style="width: 70%;left:12%; height: 13%" class="ui tiny search dropdown">
          <option value="">Select Site</option>
          <option value="">Site 1</option>
          <option value="">Site 2</option>
          <option value="">Site 3</option>
        </select>
      </div>
    </div>
  </div>
  <div class="column" style="width: 41%; right: 1%;height: 12%">
    <div class="ui raised violet segment">
      <div class="ui mini form">
        <div class="inline field">
          <label style="width: 20%; text-align: right">Date *</label>
          <input style="width: 70%" type="date" placeholder="">
        </div>
      </div>
    </div>
  </div>
</div>
<div class="column" style="width: 80.5%; margin-top: 0.5%">
  <div class="ui raised violet segment">
    <div class="ui mini form">
      <div class="inline fields">
        <div class="eight wide field">
          <label style="width: 50%;font-size: 15px">Total Present :</label>
          <input style="text-align: center" type="text" placeholder="Total Present" disabled="disabled">
        </div>
        <div class="eight wide field" style="margin-left: 4%">
          <label style="width: 50%;font-size: 15px">Total Absent :</label>
          <input style="text-align: center" type="text" placeholder="Total Absent" disabled="disabled">
        </div>
        <div class="six wide field" style="margin-left: 5%">
          <label style="width: 50%;font-size: 15px">Site Total :</label>
          <input style="text-align: center" type="text" placeholder="Site Total" disabled="disabled">
        </div>
      </div>
    </div>
  </div>
</div>
<table class="ui raised violet segment very compact table" style="width: 80.5%; margin-top: 0.5%">
  <thead>
  <tr>
    <th style="text-align: center">#</th>
    <th style="text-align: center">Name</th>
    <th style="text-align: center">Job</th>
    <th style="text-align: center">Attendance</th>
    <th style="text-align: center">Time In</th>
    <th style="text-align: center"></th>
    <th style="text-align: center">Time Out</th>
    <th style="text-align: center">Wage</th>
    <th style="text-align: center"></th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td style="text-align: center">0001</td>
    <td style="text-align: center">Namal</td>
    <td style="text-align: center">Doctor</td>
    <td style="text-align: center">
      <div class="ui tiny form">
        <select style="width: 100%; height: 13%" class="ui tiny search dropdown">
          <option value="">Select Site</option>
          <option value="">Site 1</option>
          <option value="">Site 2</option>
          <option value="">Site 3</option>
        </select>
      </div>
    </td>
    <td style="text-align: center">
      <div class="ui mini form">
        <div class="inline field">
          <input style="width: 70%" type="text" placeholder="">
        </div>
      </div>
    </td>
    <td style="text-align: center">
      <div class="ui mini green animated button" tabindex="0">
        <div class="visible content">Save</div>
        <div class="hidden content">
          <i class="save outline icon"></i>
        </div>
      </div>
    </td>
    <td style="text-align: center">
      <div class="ui mini form">
        <div class="inline field">
          <input style="width: 70%" type="text" placeholder="">
        </div>
      </div>
    </td>
    <td style="text-align: center">
      <div class="ui mini form">
        <div class="inline field">
          <input style="width: 70%" type="text" placeholder="">
        </div>
      </div>
    </td>
    <td style="text-align: center">
      <div class="ui mini green animated button" tabindex="0">
        <div class="visible content">Save</div>
        <div class="hidden content">
          <i class="save outline icon"></i>
        </div>
      </div>
    </td>
  </tr>
  <tr>
    <td style="text-align: center">0002</td>
    <td style="text-align: center">Namal</td>
    <td style="text-align: center">Doctor</td>
    <td style="text-align: center">
      <div class="ui tiny form">
        <select style="width: 100%; height: 13%" class="ui tiny search dropdown">
          <option value="">Select Site</option>
          <option value="">Site 1</option>
          <option value="">Site 2</option>
          <option value="">Site 3</option>
        </select>
      </div>
    </td>
    <td style="text-align: center">
      <div class="ui mini form">
        <div class="inline field">
          <input style="width: 70%" type="text" placeholder="">
        </div>
      </div>
    </td>
    <td style="text-align: center">
      <div class="ui mini green animated button" tabindex="0">
        <div class="visible content">Save</div>
        <div class="hidden content">
          <i class="save outline icon"></i>
        </div>
      </div>
    </td>
    <td style="text-align: center">
      <div class="ui mini form">
        <div class="inline field">
          <input style="width: 70%" type="text" placeholder="">
        </div>
      </div>
    </td>
    <td style="text-align: center">
      <div class="ui mini form">
        <div class="inline field">
          <input style="width: 70%" type="text" placeholder="">
        </div>
      </div>
    </td>
    <td style="text-align: center">
      <div class="ui mini green animated button" tabindex="0">
        <div class="visible content">Save</div>
        <div class="hidden content">
          <i class="save outline icon"></i>
        </div>
      </div>
    </td>
  </tr>
  <tr>
    <td style="text-align: center">0003</td>
    <td style="text-align: center">Namal</td>
    <td style="text-align: center">Doctor</td>
    <td style="text-align: center">
      <div class="ui tiny form">
        <select style="width: 100%; height: 13%" class="ui tiny search dropdown">
          <option value="">Select Site</option>
          <option value="">Site 1</option>
          <option value="">Site 2</option>
          <option value="">Site 3</option>
        </select>
      </div>
    </td>
    <td style="text-align: center">
      <div class="ui mini form">
        <div class="inline field">
          <input style="width: 70%" type="text" placeholder="">
        </div>
      </div>
    </td>
    <td style="text-align: center">
      <div class="ui mini green animated button" tabindex="0">
        <div class="visible content">Save</div>
        <div class="hidden content">
          <i class="save outline icon"></i>
        </div>
      </div>
    </td>
    <td style="text-align: center">
      <div class="ui mini form">
        <div class="inline field">
          <input style="width: 70%" type="text" placeholder="">
        </div>
      </div>
    </td>
    <td style="text-align: center">
      <div class="ui mini form">
        <div class="inline field">
          <input style="width: 70%" type="text" placeholder="">
        </div>
      </div>
    </td>
    <td style="text-align: center">
      <div class="ui mini green animated button" tabindex="0">
        <div class="visible content">Save</div>
        <div class="hidden content">
          <i class="save outline icon"></i>
        </div>
      </div>
    </td>
  </tr>
  <tr>
    <td style="text-align: center">0004</td>
    <td style="text-align: center">Namal</td>
    <td style="text-align: center">Doctor</td>
    <td style="text-align: center">
      <div class="ui tiny form">
        <select style="width: 100%; height: 13%" class="ui tiny search dropdown">
          <option value="">Select Site</option>
          <option value="">Site 1</option>
          <option value="">Site 2</option>
          <option value="">Site 3</option>
        </select>
      </div>
    </td>
    <td style="text-align: center">
      <div class="ui mini form">
        <div class="inline field">
          <input style="width: 70%" type="text" placeholder="">
        </div>
      </div>
    </td>
    <td style="text-align: center">
      <div class="ui mini green animated button" tabindex="0">
        <div class="visible content">Save</div>
        <div class="hidden content">
          <i class="save outline icon"></i>
        </div>
      </div>
    </td>
    <td style="text-align: center">
      <div class="ui mini form">
        <div class="inline field">
          <input style="width: 70%" type="text" placeholder="">
        </div>
      </div>
    </td>
    <td style="text-align: center">
      <div class="ui mini form">
        <div class="inline field">
          <input style="width: 70%" type="text" placeholder="">
        </div>
      </div>
    </td>
    <td style="text-align: center">
      <div class="ui mini green animated button" tabindex="0">
        <div class="visible content">Save</div>
        <div class="hidden content">
          <i class="save outline icon"></i>
        </div>
      </div>
    </td>
  </tr>
  <tr>
    <td style="text-align: center">0005</td>
    <td style="text-align: center">Namal</td>
    <td style="text-align: center">Doctor</td>
    <td style="text-align: center">
      <div class="ui tiny form">
        <select style="width: 100%; height: 13%" class="ui tiny search dropdown">
          <option value="">Select Site</option>
          <option value="">Site 1</option>
          <option value="">Site 2</option>
          <option value="">Site 3</option>
        </select>
      </div>
    </td>
    <td style="text-align: center">
      <div class="ui mini form">
        <div class="inline field">
          <input style="width: 70%" type="text" placeholder="">
        </div>
      </div>
    </td>
    <td style="text-align: center">
      <div class="ui mini green animated button" tabindex="0">
        <div class="visible content">Save</div>
        <div class="hidden content">
          <i class="save outline icon"></i>
        </div>
      </div>
    </td>
    <td style="text-align: center">
      <div class="ui mini form">
        <div class="inline field">
          <input style="width: 70%" type="text" placeholder="">
        </div>
      </div>
    </td>
    <td style="text-align: center">
      <div class="ui mini form">
        <div class="inline field">
          <input style="width: 70%" type="text" placeholder="">
        </div>
      </div>
    </td>
    <td style="text-align: center">
      <div class="ui mini green animated button" tabindex="0">
        <div class="visible content">Save</div>
        <div class="hidden content">
          <i class="save outline icon"></i>
        </div>
      </div>
    </td>
  </tr>
  <tr>
    <td style="text-align: center">0006</td>
    <td style="text-align: center">Namal</td>
    <td style="text-align: center">Doctor</td>
    <td style="text-align: center">
      <div class="ui tiny form">
        <select style="width: 100%; height: 13%" class="ui tiny search dropdown">
          <option value="">Select Site</option>
          <option value="">Site 1</option>
          <option value="">Site 2</option>
          <option value="">Site 3</option>
        </select>
      </div>
    </td>
    <td style="text-align: center">
      <div class="ui mini form">
        <div class="inline field">
          <input style="width: 70%" type="text" placeholder="">
        </div>
      </div>
    </td>
    <td style="text-align: center">
      <div class="ui mini green animated button" tabindex="0">
        <div class="visible content">Save</div>
        <div class="hidden content">
          <i class="save outline icon"></i>
        </div>
      </div>
    </td>
    <td style="text-align: center">
      <div class="ui mini form">
        <div class="inline field">
          <input style="width: 70%" type="text" placeholder="">
        </div>
      </div>
    </td>
    <td style="text-align: center">
      <div class="ui mini form">
        <div class="inline field">
          <input style="width: 70%" type="text" placeholder="">
        </div>
      </div>
    </td>
    <td style="text-align: center">
      <div class="ui mini green animated button" tabindex="0">
        <div class="visible content">Save</div>
        <div class="hidden content">
          <i class="save outline icon"></i>
        </div>
      </div>
    </td>
  </tr>
  </tbody>
</table>
<div class="ui blue animated button" tabindex="0" style="left: 74%">
  <div class="visible content">Submit</div>
  <div class="hidden content">
    <i class="save outline icon"></i>
  </div>
</div>

