<!--<h3 class="ui header">Expense Details</h3>-->
<div class="ui mini form">
  <div class="two wide fields">
    <div class="column" style="width: 35%;margin-top: 0.8%">
      <div class="ui raised violet segment" style="height: 100%;">
        <div class="field">
          <div class="grouped fields">
            <div class="ui mini form">
              <div class="inline fields">
                <h3 class="ui header">Details</h3>
                <div class="ui checkbox" style="left: 65%;padding-bottom: 3%">
                  <input type="checkbox" name="example">
                  <label>Approval</label>
                </div>
              </div>
              <div class="inline fields">
                <label style="width: 22%; text-align: right; font-size: 12px"> Material Name *</label>
                <div class="twelve wide field">
                  <input type="text" placeholder=" Request ID">
                  <div class="ui icon tiny button">
                    <i class="add icon"></i>
                  </div>
                </div>
              </div>
              <div class="inline fields">
                <label style="width: 22%; text-align: right; font-size: 12px;"> Description *</label>
                <div class="twelve wide field">
                  <textarea rows="2"></textarea>
                </div>
              </div>
              <div class="inline fields">
                <label style="width: 22%; text-align: right; font-size: 12px;"> Stock Balance *</label>
                <div class="twelve wide field">
                  <input type="text" placeholder=" Order Date ">
                  <label style="width: 22%; text-align: center; font-size: 12px;"> Units</label>
                </div>
              </div>
              <div class="inline fields">
                <label style="width: 22%; text-align: right; font-size: 12px;">Batch ID *</label>
                <div class="twelve wide field">
                  <input type="text" placeholder=" Order Date ">
                </div>
              </div>
              <div class="inline fields">
                <label style="width: 22%; text-align: right; font-size: 12px;">Price *</label>
                <div class="twelve wide field">
                  <input type="text" placeholder=" Order Date ">
                </div>
              </div>
              <div class="inline fields">
                <label style="width: 22%; text-align: right; font-size: 12px;">Quantity *</label>
                <div class="twelve wide field">
                  <input type="text" placeholder=" Order Date ">
                </div>
              </div>
              <div class="inline fields">
                <label style="width: 22%; text-align: right; font-size: 12px;">Supplier *</label>
                <div class="twelve wide field">
                  <select style="height: 13%" class="ui tiny search dropdown">
                    <option value="">Select Site</option>
                    <option value="">Site 1</option>
                    <option value="">Site 2</option>
                    <option value="">Site 3</option>
                  </select>
                </div>
              </div>
              <div class="ui green tiny animated button" tabindex="0" style="left: 83%">
                <div class="visible content">Save</div>
                <div class="hidden content">
                  <i class="address book icon"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--<div class="tiny ui green animated button" tabindex="0" style="left: 83%">-->
        <!--<div class="visible content">Pay</div>-->
        <!--<div class="hidden content">-->
        <!--<i class="paypal icon"></i>-->
        <!--</div>-->
        <!--</div>-->
      </div>
    </div>
    <div class="column" style="width: 45%;margin-top: 0.8%;">
      <div class="ui raised violet segment" style="left: 0.5%; height: 100%;">
        <div class="inline fields">
          <h3 class="ui header">Material List</h3>
          <div class="eight wide field">
            <div class="ui action input" style="left: 25%;padding-bottom: 3%">
              <select style="height: 13%" class="ui tiny search dropdown">
                <option value="">Material Name/ID</option>
                <option value="">Site 1</option>
                <option value="">Site 2</option>
                <option value="">Site 3</option>
              </select>
              <button class="circular ui icon black button">
                <i class="icon search"></i>
              </button>
            </div>
          </div>
        </div>
        <table class="ui raised very compact table">
          <thead>
          <tr>
            <th style="text-align: center">Batch ID</th>
            <th style="text-align: center">Status</th>
            <th style="text-align: center">Balance</th>
            <th style="text-align: center"></th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td style="text-align: center"></td>
            <td style="text-align: center"></td>
            <td style="text-align: center"></td>
            <td style="text-align: center">
              <div class="circular ui mini teal animated button" tabindex="0">
                <div class="visible content">Edit</div>
                <div class="hidden content">
                  <i class="pencil alternate icon"></i>
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <td style="text-align: center"></td>
            <td style="text-align: center"></td>
            <td style="text-align: center"></td>
            <td style="text-align: center">
              <div class="circular ui mini teal animated button" tabindex="0">
                <div class="visible content">Edit</div>
                <div class="hidden content">
                  <i class="pencil alternate icon"></i>
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <td style="text-align: center"></td>
            <td style="text-align: center"></td>
            <td style="text-align: center"></td>
            <td style="text-align: center">
              <div class="circular ui mini teal animated button" tabindex="0">
                <div class="visible content">Edit</div>
                <div class="hidden content">
                  <i class="pencil alternate icon"></i>
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <td style="text-align: center"></td>
            <td style="text-align: center"></td>
            <td style="text-align: center"></td>
            <td style="text-align: center">
              <div class="circular ui mini teal animated button" tabindex="0">
                <div class="visible content">Edit</div>
                <div class="hidden content">
                  <i class="pencil alternate icon"></i>
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <td style="text-align: center"></td>
            <td style="text-align: center"></td>
            <td style="text-align: center"></td>
            <td style="text-align: center">
              <div class="circular ui mini teal animated button" tabindex="0">
                <div class="visible content">Edit</div>
                <div class="hidden content">
                  <i class="pencil alternate icon"></i>
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <td style="text-align: center"></td>
            <td style="text-align: center"></td>
            <td style="text-align: center"></td>
            <td style="text-align: center">
              <div class="circular ui mini teal animated button" tabindex="0">
                <div class="visible content">Edit</div>
                <div class="hidden content">
                  <i class="pencil alternate icon"></i>
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <td style="text-align: center"></td>
            <td style="text-align: center"></td>
            <td style="text-align: center"></td>
            <td style="text-align: center">
              <div class="circular ui mini teal animated button" tabindex="0">
                <div class="visible content">Edit</div>
                <div class="hidden content">
                  <i class="pencil alternate icon"></i>
                </div>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

