<!--<h3 class="ui header">Expense Details</h3>-->
<div class="ui mini form">
  <div class="two wide fields">
    <div class="column" style="width: 35%;margin-top: 0.8%">
      <div class="ui raised violet segment" style="height: 100%;">
        <div class="field">
          <div class="grouped fields">
            <div class="ui mini form">
              <div class="inline fields">
                <h3 class="ui header">Supplier Details</h3>
                <div class="ui checkbox" style="left: 65%;padding-bottom: 3%">
                  <!--<input type="checkbox" name="example">-->
                  <!--<label>Approval</label>-->
                </div>
              </div>
              <div class="inline fields">
                <label style="width: 22%; text-align: right; font-size: 12px"> Supplier ID *</label>
                <div class="twelve wide field">
                  <input type="text" placeholder=" Supplier ID">
                </div>
              </div>
              <div class="inline fields">
                <label style="width: 22%; text-align: right; font-size: 12px;"> Name *</label>
                <div class="twelve wide field">
                  <input type="text" placeholder="Name">
                </div>
              </div>
              <div class="inline fields">
                <label style="width: 22%; text-align: right; font-size: 12px;"> Contact Person *</label>
                <div class="twelve wide field">
                  <input type="text" placeholder="Contact Person">
                </div>
              </div>
              <div class="inline fields">
                <label style="width: 22%; text-align: right; font-size: 12px;"> Mobile *</label>
                <div class="twelve wide field">
                  <input type="text" placeholder="Mobile">
                </div>
              </div>
              <div class="inline fields">
                <label style="width: 22%; text-align: right; font-size: 12px;"> Fixed *</label>
                <div class="twelve wide field">
                  <input type="text" placeholder="Fixed">
                </div>
              </div>
              <div class="inline fields">
                <label style="width: 22%; text-align: right; font-size: 12px;"> Reg. Number *</label>
                <div class="twelve wide field">
                  <input type="text" placeholder="Reg. Number">
                </div>
              </div>
              <div class="inline fields">
                <label style="width: 22%; text-align: right; font-size: 12px;"> Address Line 1 *</label>
                <div class="twelve wide field">
                  <input type="text" placeholder="Address Line 1">
                </div>
              </div>
              <div class="inline fields">
                <label style="width: 22%; text-align: right; font-size: 12px;"> Address Line 2 *</label>
                <div class="twelve wide field">
                  <input type="text" placeholder="Address Line 2">
                </div>
              </div>
              <div class="inline fields">
                <label style="width: 22%; text-align: right; font-size: 12px;"> City *</label>
                <div class="twelve wide field">
                  <input type="text" placeholder="City">
                </div>
              </div>
              <div class="inline fields">
                <label style="width: 22%; text-align: right; font-size: 12px;"> Country *</label>
                <div class="twelve wide field">
                  <input type="text" placeholder="Country">
                </div>
              </div>
              <div class="inline fields">
                <label style="width: 22%; text-align: right; font-size: 12px;"> Joined Date *</label>
                <div class="twelve wide field">
                  <input type="date" placeholder=" Joined Date">
                </div>
              </div>
              <div class="inline fields">
                <label style="width: 22%; text-align: right; font-size: 12px;">Status *</label>
                <div class="twelve wide field">
                  <select style="height: 13%" class="ui tiny search dropdown">
                    <option value="">Select Invoice</option>
                    <option value="">Site 1</option>
                    <option value="">Site 2</option>
                    <option value="">Site 3</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="tiny ui green animated button" tabindex="0" style="left: 83%">
          <div class="visible content">Save</div>
          <div class="hidden content">
            <i class="save icon"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="column" style="width: 45%;margin-top: 0.8%;">
      <div class="ui raised violet segment" style="left: 0.5%; height: 100%;">
        <div class="inline fields">
          <h3 class="ui header">Suppliers</h3>
          <div class="eight wide field">
            <div class="ui action input" style="left: 25%;padding-bottom: 3%">
              <input type="text" placeholder="Name">
              <button class="circular ui icon black button">
                <i class="icon search"></i>
              </button>
            </div>
          </div>
        </div>
        <table class="ui raised very compact table">
          <thead>
          <tr>
            <th style="text-align: center">ID</th>
            <th style="text-align: center">Name</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td style="text-align: center">0001</td>
            <td style="text-align: center" class="" data-tooltip="Hover to view bank and site"
                data-position="left center" data-inverted="" data-variation="huge basic"></td>
          </tr>
          <tr>
            <td style="text-align: center">0002</td>
            <td style="text-align: center" class="" data-tooltip="Hover to view bank and site"
                data-position="center" data-inverted="" data-variation="huge basic"></td>
          </tr>
          <tr>
            <td style="text-align: center">0003</td>
            <td style="text-align: center" class="" data-tooltip="Hover to view bank and site"
                data-position="center" data-inverted="" data-variation="huge basic"></td>
          </tr>
          <tr>
            <td style="text-align: center">0004</td>
            <td style="text-align: center" class="" data-tooltip="Hover to view bank and site"
                data-position="center" data-inverted="" data-variation="huge basic"></td>
          </tr>
          <tr>
            <td style="text-align: center">0005</td>
            <td style="text-align: center" class="" data-tooltip="Hover to view bank and site"
                data-position="center" data-inverted="" data-variation="huge basic"></td>
          </tr>
          <tr>
            <td style="text-align: center">0006</td>
            <td style="text-align: center" class="" data-tooltip="Hover to view bank and site"
                data-position="center" data-inverted="" data-variation="huge basic"></td>
          </tr>
          <tr>
            <td style="text-align: center">0007</td>
            <td style="text-align: center" class="" data-tooltip="Hover to view bank and site"
                data-position="center" data-inverted="" data-variation="huge basic"></td>
          </tr>
          <tr>
            <td style="text-align: center">0008</td>
            <td style="text-align: center" class="" data-tooltip="Hover to view bank and site"
                data-position="center" data-inverted="" data-variation="huge basic"></td>
          </tr>
          <tr>
            <td style="text-align: center">0009</td>
            <td style="text-align: center" class="" data-tooltip="Hover to view bank and site"
                data-position="center" data-inverted="" data-variation="huge basic"></td>
          </tr>
          <tr>
            <td style="text-align: center">0010</td>
            <td style="text-align: center" class="" data-tooltip="Hover to view bank and site"
                data-position="center" data-inverted="" data-variation="huge basic"></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
