<h3 class="ui header">Income</h3>
<div class="column" style="width: 80.5%;margin-top: 0.5%">
  <div class="ui raised violet segment" style="height: 10%">
    <div class="ui mini form">
      <div class="two wide fields">
        <div class="field">
          <div class="grouped fields">
            <div class="ui mini form">
              <div class="inline fields">
                <label style="width: 18%; text-align: right; font-size: 12px">Name *</label>
                <div class="twelve wide field">
                  <input type="text" placeholder="Name">
                </div>
              </div>
              <div class="inline fields">
                <label style="width: 18%; text-align: right; font-size: 12px;">Description *</label>
                <div class="twelve wide field">
                  <textarea rows="2"></textarea>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="field ">
          <div class="ui mini form">
            <div class="inline fields">
              <label style="width: 20%; text-align: right; font-size: 12px"> ID *</label>
              <div class="twelve wide field">
                <input type="text" placeholder=" Entere ID">
              </div>
            </div>
            <div class="inline fields">
              <label style="width: 20%; text-align: right; font-size: 12px">Units *</label>
              <div class="twelve wide field">
                <input type="text" placeholder="Issue Date">
              </div>
            </div>
            <div class="ui green animated button" tabindex="0" style="left: 80.6%">
              <div class="visible content">Save</div>
              <div class="hidden content">
                <i class="save outline icon"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <table class="ui raised segment very compact table">
      <thead>
      <tr>
        <th>#</th>
        <th>ID</th>
        <th>Name</th>
        <th>Unit</th>
        <th>Description</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>
          <div class="circular ui mini teal animated button" tabindex="0">
            <div class="visible content">Edit</div>
            <div class="hidden content">
              <i class="pencil alternate icon"></i>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>
          <div class="circular ui mini teal animated button" tabindex="0">
            <div class="visible content">Edit</div>
            <div class="hidden content">
              <i class="pencil alternate icon"></i>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>
          <div class="circular ui mini teal animated button" tabindex="0">
            <div class="visible content">Edit</div>
            <div class="hidden content">
              <i class="pencil alternate icon"></i>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>
          <div class="circular ui mini teal animated button" tabindex="0">
            <div class="visible content">Edit</div>
            <div class="hidden content">
              <i class="pencil alternate icon"></i>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>
          <div class="circular ui mini teal animated button" tabindex="0">
            <div class="visible content">Edit</div>
            <div class="hidden content">
              <i class="pencil alternate icon"></i>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>
          <div class="circular ui mini teal animated button" tabindex="0">
            <div class="visible content">Edit</div>
            <div class="hidden content">
              <i class="pencil alternate icon"></i>
            </div>
          </div>
        </td>
      </tr>
      </tbody>
      <tfoot>
      <tr>
        <th colspan="6">
          <div class="ui right floated pagination menu">
            <a class="icon item">
              <i class="left chevron icon"></i>
            </a>
            <a class="item">1</a>
            <a class="item">2</a>
            <a class="item">3</a>
            <a class="item">4</a>
            <a class="icon item">
              <i class="right chevron icon"></i>
            </a>
          </div>
        </th>
      </tr>
      </tfoot>
    </table>
  </div>
</div>
