<!--<h3 class="ui header">Expense Details</h3>-->
<div class="ui mini form">
  <div class="two wide fields">
    <div class="column" style="width: 35%;margin-top: 0.8%">
      <div class="ui raised violet segment" style="height: 100%;">
        <div class="field">
          <div class="grouped fields">
            <div class="ui mini form">
              <div class="inline fields">
                <h3 class="ui header">Details</h3>
                <div class="ui checkbox" style="left: 65%;padding-bottom: 3%">
                  <input type="checkbox" name="example">
                  <label>Approval</label>
                </div>
              </div>
              <div class="inline fields">
                <label style="width: 22%; text-align: right; font-size: 12px"> Request ID *</label>
                <div class="twelve wide field">
                  <input type="text" placeholder=" Request ID">
                </div>
              </div>
              <div class="inline fields">
                <label style="width: 22%; text-align: right; font-size: 12px;"> Request Date *</label>
                <div class="twelve wide field">
                  <input type="date" placeholder="Request Date">
                </div>
              </div>
              <div class="inline fields">
                <label style="width: 22%; text-align: right; font-size: 12px;"> Site *</label>
                <div class="twelve wide field">
                  <select style="height: 13%" class="ui tiny search dropdown">
                    <option value="">Select Invoice</option>
                    <option value="">Site 1</option>
                    <option value="">Site 2</option>
                    <option value="">Site 3</option>
                  </select>
                </div>
              </div>
              <div class="ui divider"></div>
              <div class="inline fields">
                <label style="width: 22%; text-align: right; font-size: 12px;"> Purchase ID *</label>
                <div class="twelve wide field">
                  <input type="text" placeholder="Purchase ID">
                </div>
              </div>
              <div class="inline fields">
                <label style="width: 22%; text-align: right; font-size: 12px;"> Order Date *</label>
                <div class="twelve wide field">
                  <input type="date" placeholder=" Order Date ">
                </div>
              </div>
              <div class="inline fields">
                <label style="width: 22%; text-align: right; font-size: 12px;"> Order Value *</label>
                <div class="twelve wide field">
                  <input type="text" placeholder=" Order Value">
                </div>
              </div>
              <div class="inline fields">
                <label style="width: 22%; text-align: right; font-size: 12px;">Supplier *</label>
                <div class="twelve wide field">
                  <select style="height: 13%" class="ui tiny search dropdown">
                    <option value="">Select here to fill all</option>
                    <option value="">Site 1</option>
                    <option value="">Site 2</option>
                    <option value="">Site 3</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--<div class="tiny ui green animated button" tabindex="0" style="left: 83%">-->
        <!--<div class="visible content">Pay</div>-->
        <!--<div class="hidden content">-->
        <!--<i class="paypal icon"></i>-->
        <!--</div>-->
        <!--</div>-->
      </div>
    </div>
    <div class="column" style="width: 45%;margin-top: 0.8%;">
      <div class="ui raised violet segment" style="left: 0.5%; height: 100%;">
        <div class="inline fields">
          <h3 class="ui header">Purchase Request</h3>
          <div class="eight wide field">
            <div class="ui action input" style="left: 25%;padding-bottom: 3%">
              <select style="height: 13%" class="ui tiny search dropdown">
                <option value="">Select</option>
                <option value="">Site 1</option>
                <option value="">Site 2</option>
                <option value="">Site 3</option>
              </select>
              <button class="circular ui icon black button">
                <i class="icon search"></i>
              </button>
            </div>
          </div>
        </div>
        <table class="ui raised very compact table">
          <thead>
          <tr>
            <th style="text-align: center">Request ID</th>
            <th style="text-align: center">Date</th>
            <th style="text-align: center">Status</th>
            <th style="text-align: center"></th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td style="text-align: center" class="" data-tooltip="Hover to view bank and site"
                data-position="center" data-inverted="" data-variation="huge basic"></td>
            <td style="text-align: center"></td>
            <td style="text-align: center"></td>
            <td style="text-align: center">
              <div class="circular ui mini teal animated button" tabindex="0">
                <div class="visible content">Edit</div>
                <div class="hidden content">
                  <i class="pencil alternate icon"></i>
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <td style="text-align: center" class="" data-tooltip="Hover to view bank and site"
                data-position="center" data-inverted="" data-variation="huge basic"></td>
            <td style="text-align: center"></td>
            <td style="text-align: center"></td>
            <td style="text-align: center">
              <div class="circular ui mini teal animated button" tabindex="0">
                <div class="visible content">Edit</div>
                <div class="hidden content">
                  <i class="pencil alternate icon"></i>
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <td style="text-align: center" class="" data-tooltip="Hover to view bank and site"
                data-position="top right" data-inverted="" data-variation="huge basic"></td>
            <td style="text-align: center"></td>
            <td style="text-align: center"></td>
            <td style="text-align: center">
              <div class="circular ui mini teal animated button" tabindex="0">
                <div class="visible content">Edit</div>
                <div class="hidden content">
                  <i class="pencil alternate icon"></i>
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <td style="text-align: center" class="" data-tooltip="Hover to view bank and site"
                data-position="top center" data-inverted="" data-variation="huge basic"></td>
            <td style="text-align: center"></td>
            <td style="text-align: center"></td>
            <td style="text-align: center">
              <div class="circular ui mini teal animated button" tabindex="0">
                <div class="visible content">Edit</div>
                <div class="hidden content">
                  <i class="pencil alternate icon"></i>
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <td style="text-align: center" class="" data-tooltip="Hover to view bank and site"
                data-position="left center" data-inverted="" data-variation="huge basic"></td>
            <td style="text-align: center"></td>
            <td style="text-align: center"></td>
            <td style="text-align: center">
              <div class="circular ui mini teal animated button" tabindex="0">
                <div class="visible content">Edit</div>
                <div class="hidden content">
                  <i class="pencil alternate icon"></i>
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <td style="text-align: center" class="" data-tooltip="Hover to view bank and site"
                data-position="right center" data-inverted="" data-variation="huge basic"></td>
            <td style="text-align: center"></td>
            <td style="text-align: center"></td>
            <td style="text-align: center">
              <div class="circular ui mini teal animated button" tabindex="0">
                <div class="visible content">Edit</div>
                <div class="hidden content">
                  <i class="pencil alternate icon"></i>
                </div>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<table class="ui raised violet segment very compact table" style="width: 80.5%; margin-top: 0.5%">
  <thead>
  <tr>
    <th>#</th>
    <th>Material</th>
    <th>Supplier</th>
    <th>Qty</th>
    <th>Unit Price</th>
    <th>Total</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>0001</td>
    <td>Namal</td>
    <td>
      <div class="ui tiny form">
        <select style="width: 100%; height: 13%" class="ui tiny search dropdown">
          <option value="">Select Site</option>
          <option value="">Site 1</option>
          <option value="">Site 2</option>
          <option value="">Site 3</option>
        </select>
      </div>
    </td>
    <td>
      <div class="ui mini form">
        <div class="inline field">
          <input style="width: 70%" type="text" placeholder="PO Qty">
          <div class="circular ui mini teal animated button" tabindex="0">
            <div class="visible content">Edit</div>
            <div class="hidden content">
              <i class="pencil alternate icon"></i>
            </div>
          </div>
        </div>
      </div>
    </td>
    <td>
      <div class="ui mini form">
        <div class="inline field">
          <input style="width: 70%" type="text" placeholder="">
          <div class="circular ui mini teal animated button" tabindex="0">
            <div class="visible content">Edit</div>
            <div class="hidden content">
              <i class="pencil alternate icon"></i>
            </div>
          </div>
        </div>
      </div>
    </td>
    <td>10000000</td>
  </tr>
  <tr>
    <td>0001</td>
    <td>Namal</td>
    <td>
      <div class="ui tiny form">
        <select style="width: 100%; height: 13%" class="ui tiny search dropdown">
          <option value="">Select Site</option>
          <option value="">Site 1</option>
          <option value="">Site 2</option>
          <option value="">Site 3</option>
        </select>
      </div>
    </td>
    <td>
      <div class="ui mini form">
        <div class="inline field">
          <input style="width: 70%" type="text" placeholder="PO Qty">
          <div class="circular ui mini teal animated button" tabindex="0">
            <div class="visible content">Edit</div>
            <div class="hidden content">
              <i class="pencil alternate icon"></i>
            </div>
          </div>
        </div>
      </div>
    </td>
    <td>
      <div class="ui mini form">
        <div class="inline field">
          <input style="width: 70%" type="text" placeholder="">
          <div class="circular ui mini teal animated button" tabindex="0">
            <div class="visible content">Edit</div>
            <div class="hidden content">
              <i class="pencil alternate icon"></i>
            </div>
          </div>
        </div>
      </div>
    </td>
    <td>10000000</td>
  </tr>
  <tr>
    <td>0001</td>
    <td>Namal</td>
    <td>
      <div class="ui tiny form">
        <select style="width: 100%; height: 13%" class="ui tiny search dropdown">
          <option value="">Select Site</option>
          <option value="">Site 1</option>
          <option value="">Site 2</option>
          <option value="">Site 3</option>
        </select>
      </div>
    </td>
    <td>
      <div class="ui mini form">
        <div class="inline field">
          <input style="width: 70%" type="text" placeholder="PO Qty">
          <div class="circular ui mini teal animated button" tabindex="0">
            <div class="visible content">Edit</div>
            <div class="hidden content">
              <i class="pencil alternate icon"></i>
            </div>
          </div>
        </div>
      </div>
    </td>
    <td>
      <div class="ui mini form">
        <div class="inline field">
          <input style="width: 70%" type="text" placeholder="">
          <div class="circular ui mini teal animated button" tabindex="0">
            <div class="visible content">Edit</div>
            <div class="hidden content">
              <i class="pencil alternate icon"></i>
            </div>
          </div>
        </div>
      </div>
    </td>
    <td>10000000</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <th colspan="6">
      <div class="ui right floated pagination menu">
        <a class="icon item">
          <i class="left chevron icon"></i>
        </a>
        <a class="item">1</a>
        <a class="item">2</a>
        <a class="item">3</a>
        <a class="item">4</a>
        <a class="icon item">
          <i class="right chevron icon"></i>
        </a>
      </div>
    </th>
  </tr>
  </tfoot>
</table>
<div class="inline field">
  <div class="ui black  animated button" tabindex="0" style="left: 74.6%">
    <div class="visible content">Print</div>
    <div class="hidden content">
      <i class="print icon"></i>
    </div>
  </div>
  <div class="ui green animated button" tabindex="0" style="left: 62.6%">
    <div class="visible content">Save</div>
    <div class="hidden content">
      <i class="save outline icon"></i>
    </div>
  </div>
</div>
